.ys-select /deep/ .el-select__tags-text {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ys-select /deep/ .el-select .el-tag__close.el-icon-close {
  top: -7px;
}
.ys-select /deep/ .el-tag {
  height: auto;
  max-width: 100%;
}
.ys-select /deep/ .el-tag--info {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
